/* 限制图片最大宽高 */
img{
    max-width: 500px;
    max-height: 500px;
}

/* discussion.blade.php 中右侧巨幕 */
.discussion-jumbotron{
    background-color: rgba(97,234,73,0.8);
}

/* discussion.blade.php 中讨论标题间距 */
.discussion-line{
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px 10px;
    background-color: rgba(141,249,123,0.8);
    border-radius: 45px 15px;
}

/* show.blade.php 中评论标题间距 */
.comment-line{
    padding-top: 15px;
}

/* show.blade.php 中右侧关于作者 */
.user-statics{
    display: flex;
    margin-top: 20px;
}
.user-statics-item{
    padding: 2px 20px;
}