/*forum.blade.php中顶部巨幕*/
.forum-jumbotron{
    /*background-color: #61ea49;*/
    background-color: rgba(97,234,73,0.8);
}

/*forum.blade.php中讨论标题间距*/
.forum-line{
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px 10px;
    /*background-color: #8df97b;*/
    background-color: rgba(141,249,123,0.8);
    border-radius: 45px 15px;
}

/*show.blade.php中评论标题间距*/
.forum-comment-line{
    padding-top: 15px;
}

/*show.blade.php中右侧关于作者*/
.forum-user-statics{
    display: flex;
    margin-top: 20px;
}
.forum-user-statics-item{
    padding: 2px 20px;
}